<div class="">
    <div class="col-12 col-lg-8 offset-lg-2">
        <h1 class="heading">Totally Free YouTube Downloader !</h1>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="URLinput" placeholder="Paste Video URL or  Playlist URL">
            <div class="input-group-append">
                <button class="btn btn-primary" (click)="onConvertClick()" type="button">
                    <span [ngStyle]="{'visibility':showLoader ? 'hidden' : ''}">Convert</span>
                    <div class="spinner" *ngIf="showLoader">
                        <span class="spinner-border spinner-border-sm" role="status"></span>
                    </div>
                </button>
                <select class="btn btn-info" [(ngModel)]="type" name="type" id="type">
                    <option value="mp3">mp3</option>
                    <option value="mp4">mp4</option>
                </select>
            </div>
        </div>
<!--        <span class="spinner-border spinner-border-md" role="status"></span>-->
        <div *ngIf="startingFetchingList">
            <h3>Fetching List - {{successItems + '/' + list.length + (failedItems ? ' failed ' + failedItems : '')}}</h3>
            <div class="progress fetching-list-progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': listProgress + '%'}"><span [hidden]="!listProgress">{{listProgress + '%'}}</span></div>
            </div>
        </div>
        <div class="list" *ngIf="list.length" @items >
            <div class="item item-{{i}}" *ngFor="let listItem of list; let i = index;" >
                <div class="row">
                    <div class="col-2">
                        <div class="img">
                            <img class="img-fluid image-{{listItem.i}}" alt="" src="{{listItem.thumbnail}}"/>
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="title text-left">
                            {{listItem.title}}
                            <a href="{{listItem.youtubeUrl}}" target="_blank">
                                <div class="icon-wrapper">
                                    <i class="my-icon-youtube"></i>
                                </div>
                            </a>
                            <div *ngIf="listItem.failed" (click)="downloadOneItem(listItem)" class="icon-wrapper downArrow-icon-wrapper">
                                <i class="my-icon-downArrow"></i>
                            </div>
                        </div>
<!--                        <div class="progress progress-{{listItem.i}}">{{listItem.progress}}%</div>-->
                        <div class="progress item-progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width]="listItem.progress + '%'"><span [hidden]="!listItem.progress">{{listItem.progress + '%'}}</span></div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="item-icon progress-icon" *ngIf="!listItem.success && !listItem.failed && !listItem.converting && !listItem.progress">
                            <app-success-icon [type]="'questionmark'"></app-success-icon>
                        </div>
                        <div class="item-icon downloading-icon" *ngIf="!listItem.success && !listItem.failed && !listItem.converting && listItem.progress">
                            <app-success-icon [type]="'downloading'"></app-success-icon>
                        </div>
                        <div class="item-icon converting-icon" *ngIf="listItem.converting">
                            <app-success-icon [type]="'converting'"></app-success-icon>
                        </div>
                        <div class="item-icon success-icon" *ngIf="listItem.success">
                            <app-success-icon [type]="'success'"></app-success-icon>
                        </div>
                        <div class="item-icon failed-icon" *ngIf="listItem.failed">
                            <app-success-icon [type]="'error'"></app-success-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="startingZip" class="zip-progress">
            <h3>Compressing Files</h3>
            <div class="progress fetching-list-progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': zipProgress + '%'}"><span [hidden]="!zipProgress">{{zipProgress + '%'}}</span></div>
            </div>
        </div>
<!--        <p>https://www.youtube.com/watch?list=PLJ4dTHPAykBmiARyN7lkBjIlyYR2njnP_ // 50 songs</p>-->
<!--        <p>https://www.youtube.com/watch?v=3K-KnCX69Kk&list=PLJ4dTHPAykBmiARyN7lkBjIlyYR2njnP_ // 50 songs</p>-->
<!--        <p>https://www.youtube.com/watch?v=3K-KnCX69Kk</p>-->
<!--        <p>https://www.youtube.com/watch?v=XSRBg7OUDig&list=PLTZg_fhe7ZF5v_Gkj6UONoUtu2i7F_h7h // 13 songs</p>-->
    </div>
</div>

<div class="modal fade" id="conflict" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">List and Video Detected</h5>
                <button type="button" class="close" (click)="hideModal(); stopLoader()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Do you want to download list or video</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="downloadList(this.copyListUrl)">List</button>
                <button type="button" class="btn btn-secondary" (click)="downloadList(this.copyVideoUrl)">1 Video</button>
            </div>
        </div>
    </div>
</div>

<div class="floating-timer" *ngIf="_showTimer">
    <div class="hours" *ngIf="timer.hours !== '00'">{{timer.hours}}</div>
    <div class="separator" *ngIf="timer.hours !== '00'">:</div>
    <div class="minutes">{{timer.minutes}}</div>
    <div class="separator">:</div>
    <div class="seconds">{{timer.seconds}}</div>
</div>

<div class="floating-scrolling" *ngIf="_showTimer" (click)="toggleAutoScrolling()">
    <div class="icon-scroll" [title]="'auto scrolling ' + (autoScrolling ? 'enabled ' : 'disabled')" [ngClass]="{'icon-scroll-disabled': !autoScrolling}"></div>
</div>
