* {
    text-align: center;
}
.heading {
    font-family: Arial;
    margin-top:10%;
}
.URL-input, .convert-button {
    font-size:1.3em;
    padding:5px 10px;
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width:30em;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}
.URL-input:focus {
    border:2px solid #0485ff;
}
.convert-button {
    border-radius:0px 0px 0px 0px;
    //border-radius:0px 4px 4px 0px;
    border:2px solid #0485ff;
    background: #0485ff;
    color:white;
    outline: none;
}
.select-button {
    border-radius: 0px 4px 4px 0px;
    border: 2px solid #0485ff;
    background: #0485ff;
    color: white;
    font-size: 1.3em;
    padding: 5.7px 10px;
    outline: none;
}
.item {
    box-shadow: 0 0 5px #ccc;
    margin: 1% 0;
    .success {
        margin-top: 19%;
        max-width:50px;
    }
}
.fetching-list-progress {
    margin: 1% 0;
}

.item-progress {
    margin: 1% 0;
}
.btn {
    outline:none;
    box-shadow: none;
}
input:focus {
    outline: none;
    box-shadow: none;
}
.img {
    background:#000;
    img {
        max-height:80px;
    }
}
.spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    span {
        vertical-align: -webkit-baseline-middle;
    }
}
