* {
    text-align: center;
}
.heading {
    font-family: Arial;
    margin-top:10%;
}
.URL-input, .convert-button {
    font-size:1.3em;
    padding:5px 10px;
}
.URL-input {
    border-radius:4px 0px 0px 4px;
    width:30em;
    text-align: left;
    border:2px solid #EEEEEE;
    background: #EEEEEE;
    outline:none;
}
.URL-input:focus {
    border:2px solid #0485ff;
}
.convert-button {
    border-radius:0px 0px 0px 0px;
    //border-radius:0px 4px 4px 0px;
    border:2px solid #0485ff;
    background: #0485ff;
    color:white;
    outline: none;
}
.select-button {
    border-radius: 0px 4px 4px 0px;
    border: 2px solid #0485ff;
    background: #0485ff;
    color: white;
    font-size: 1.3em;
    padding: 5.7px 10px;
    outline: none;
}
.item {
    box-shadow: 0 0 5px #ccc;
    margin: 1% 0;
    .item-icon {
        margin: 0 auto;
        transform: translateY(-50%);
        top: 50%;
        position: relative;
    }
    .success-icon, .progress-icon, .failed-icon {
        max-width: 37%;
        @media (max-width: 768px) {
            max-width: 45%;
            font-size: .8em;
        }
        @media (max-width: 568px) {
            max-width: 55%;
            font-size: .5em;
        }
    }
    .converting-icon {

    }
    .downloading-icon {

    }
    .title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
.fetching-list-progress {
    margin: 1% 0;
}

.item-progress {
    margin: 1% 0;
}
.btn {
    outline:none;
    box-shadow: none;
}
input:focus {
    outline: none;
    box-shadow: none;
}
.img {
    background:#000;
    img {
        max-height:80px;
    }
}
.spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    span {
        vertical-align: -webkit-baseline-middle;
    }
}

.floating-timer {
    position: fixed;
    top:5%;
    left:1%;
    background:green;
    background: rgb(26, 188, 156);
    background: -moz-linear-gradient(-45deg, rgba(4, 133, 255, 1) 0%, rgba(23, 162, 184, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(4, 133, 255, 1) 0%, rgba(23, 162, 184, 1) 100%);
    background: linear-gradient(135deg, rgba(4, 133, 255, 1) 0%, rgba(23, 162, 184, 1) 100%);
    color:#fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: table;
    padding: 18px 10px;
    display: table;
    animation: float 4s ease-in-out infinite;
    .minutes {
        display: table-cell;
        vertical-align: middle;
    }
    .separator {
        display: table-cell;
        vertical-align: middle;
    }
    .seconds {
        display: table-cell;
        vertical-align: middle;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
        transform: translatey(-5px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
        transform: translatey(0px);
    }
}
